<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>www.lingx.com</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring.xml</param-value>
  </context-param>
  <listener>
    <listener-class>com.lingx.support.web.listener.SpringContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.lingx.support.web.listener.OnlineUserListener</listener-class>
  </listener>
  <filter>
    <display-name>Lingx</display-name>
    <filter-name>Lingx</filter-name>
    <filter-class>com.lingx.support.web.filter.LingxFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Lingx</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>DruidWebStatFilter</filter-name>
    <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
    <init-param>
      <param-name>exclusions</param-name>
      <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DruidWebStatFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
	<filter>
		<filter-name>GzipJsFilter</filter-name>
		<filter-class>com.lingx.support.web.filter.GzipJsFilter</filter-class>
		<init-param>
			<param-name>headers</param-name>
			<param-value>Content-Encoding=gzip</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>GzipJsFilter</filter-name>
		<url-pattern>*.gzjs</url-pattern>
	</filter-mapping>
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadStreamServlet</display-name>
    <servlet-name>UploadStreamServlet</servlet-name>
    <servlet-class>com.lingx.support.web.servlet.UploadStreamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadStreamServlet</servlet-name>
    <url-pattern>/UploadStreamServlet</url-pattern>
    <url-pattern>/uploadStream</url-pattern>
    <url-pattern>/us</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>