.select-card{
    		position: fixed;
    		bottom: 0;
/*     		left: 5%; */
    		width: 100%;
    		height: 80%;
    		margin: 0;
    		z-index: 999;
    		overflow: hidden;
		    border: 1px solid #eee;
/* 		    border-radius: 6px; */
		    background-color: #fff;
		    background-clip: padding-box;
    	}
    	.select-card .top{
    		width: 100%;
    		height: 30%;
    		border-bottom: 1px solid #eee;
    		background: #ddd;
    	}
    	.select-card .top .title{
    		
    		top:0;
    		width: 100%;
    		height: 38px;
    		background: #eee;/*#337ab7; */
    		line-height: 35px;
    		color: #111;
    		font-size:16px;
    		font-weight:700;
    		text-align: center;
    	}
    	.select-card .top .title .mui-btn{
    		position:absolute;
    		top:4px;
    		height: 30px;
    		padding-top:0;
    		line-height:30px;
    		font-size: 16px;
    	}
    	.select-card .top .title .mui-btn:first-child{
    		left:10px;
    	}
    	.select-card .top .title .mui-btn:last-child{
    		right:10px;
    	}
    	.select-card .top .selected-box{
    		height: 100%;
    		padding-top:8px;
    		padding-bottom:30px;
    		overflow-y: scroll;
    	}
    	
    	.select-card .top .selected-box .selected{
    		background: #eee;
			border:1px solid #ddd;
    		    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    		line-height: 1.1;
    		font-size:17px;
    		padding: 5px;
    		margin: 3px;
    		float: left;
    	}
    	
    	.select-card .body{
    		width: 100%;
    		height: 69%;
    		position: absolute;
    		top: 30%;
    	}
    	.select-card .body .left{
    		height:100%;
    		width:55%;
    		margin-top: 44px;
    		padding-bottom:44px;
    		position: absolute;
    		left: 0;
    		overflow-y: auto;
    		border-right: 1px solid #eee;
    	}
    	.select-card .body .right{
    		width:45%;
    		height:100%;
    		position: absolute;
    		right: 0;
    		overflow-y: auto;
    	}
    	.select-card .now_select{
    		width:55%;
    		line-height:43px;
			border-bottom:1px solid #ddd;
    		position: absolute;
    		padding-left:15px;
    		z-index: 999;
    		background-color: #dff0d8;
    	}
    	.select-card .now_select:after {
    	    font-family: Muiicons;
		    font-size: inherit;
			font-size: 25px;
    		font-weight: 700;
		    position: absolute;
		    top: 50%;
		    right:15px;
		    display: inline-block;
		    -webkit-transform: translateY(-50%);
		    transform: translateY(-50%);
		    text-decoration: none;
		    color: #bbb;
		    -webkit-font-smoothing: antialiased;
		    content: '\e406';
		}
		.select-card .foot{
			width: 100%;
			height:50px;
			padding:10px;
			text-align:center;
			position: absolute;
			bottom: 0;
			background: #eee;
			z-index: 1
		}
		
		.chose-active{
			color:red !important;
		}