#editor{
	width:1010px;height:780px;overflow:auto;padding:5px;
	border:1px solid #AAA;
	margin:2px;
}
.toolbar{
position:relative;
top:0px;
left:0px;
width:1000px;
height:32px;
line-height:32px;
background-color:#efefef;
}
.toolbar a{
color:#999;
}
#c{
position:relative;
left:0px;
top:0px;
width:990px;
height:700px;
overflow:auto;
}
td{
line-height:24px;
}
.footer{
	
position:relative;
width:990px;
height:32px;
line-height:32px;
left:0px;
top:0px;
background-color:#efefef;
}
.footer div{
line-height:32px;
height:32px;
	
}
.footer-tip{
position:fixed;
width:160px;
height:48px;
line-height:20px;
border:1px solid #999;
z-index:999;
background-color:#FFF;
font-size:12px;
padding-left:10px;
}
.footer-tip a{
font-size:12px;
}
.shadow{
position:fixed;
background-color:#4ebbf3;
z-index:1999;
filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	
}
.textarea{
	
}
.ipt{
	background-color:#f1fafe;
}
.ipt .s,.e{
	color:blue;
}